.container {
  position: absolute;

  min-width: 51%;
  height: 100%;

  perspective: 3000px;

  display: flex;
  align-items: center;

  .content {
    background-image: url("/blackBookCover.webp");
    background-size: cover;

    // border-radius: 1%;

    -webkit-box-shadow: -16px 12px 30px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: -16px 12px 30px 0px rgba(66, 68, 90, 1);
    box-shadow: -16px 12px 30px 0px rgba(66, 68, 90, 1);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    // padding-left: 11%;

    transition: transform 1s ease-in-out;
    transform-origin: left;

    cursor: pointer;
    user-select: none;
  }

  .flipped {
    transform: rotateY(-180deg);
  }
}