.container {
  .heading {
    color: greenyellow;
    font-size: 15vh;
    line-height: 14vh;
    word-break: break-all;

    position: absolute;
    z-index: 1;
  }

  .videoRect {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 34%;
    height: 52%;

    background-image: url("/videoPlaceholderImage.webp");
    background-position: right;
    background-size: cover;

    border-left: 1px solid hwb(235 26% 65% / 0.5);
    -webkit-box-shadow: inset 42px 0px 42px -47px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 42px 0px 42px -47px rgba(66, 68, 90, 1);
    box-shadow: inset 42px 0px 42px -47px rgba(66, 68, 90, 1);
  }
}