.container {
  z-index: 1;
  padding-top: 1vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 94%;

  .videoRect {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    height: 52%;

    background-image: url("/videoPlaceholderImage.webp");
    background-size: cover;

    cursor: pointer;

    display: flex;
    align-items: center;

    .videoRectClickable {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 135%;
      height: 100%;
    }

    .playButton {
      margin-left: 60%;

      font-size: 10vh;
      color: #0f0;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 2vh;
    height: 40%;
  }
}