.container {
  position: absolute;
  left: -52%;

  background-color: #efefef;
  color: #121212;

  text-align: left;
  user-select: none;
  font-size: 2vh;
  font-weight: 500;

  height: 6%;
  width: 52%;
  padding: 0 4% 0 0;

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}