.container {
  position: absolute;
  transition: left .5s;

  background-color: #efefef;
  color: #121212;

  text-align: left;
  user-select: none;
  font-size: calc(2 * var(--vh));
  font-weight: 500;
  white-space: nowrap;

  height: 6%;
  width: 46%;
  padding-right: 4%;

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}