.container {
  position: relative;

  transition: transform 1s ease-in-out .2s;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  max-width: 74%;


  .backgroundHolder {
    height: 1753px;
    aspect-ratio: 2321 / 1753;

    max-height: calc(80 * var(--vh));
  }
}