.container {
  position: relative;

  transition: transform 1s ease-in-out .2s;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  max-width: 74%;

  & > img {
    visibility: hidden;

    max-height: 80vh;
  }
}