.container {
  position: absolute;
  left: -16vw;

  background-color: #efefef;
  color: #232323;

  text-align: left;
  user-select: none;
  font-size: 2vh;
  font-weight: 500;

  height: 7%;
  min-width: 16vw;
  padding: 0 10%;

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}