.container {
  position: relative;

  display: grid;
  grid-template-columns: 0fr 1fr;

  height: 20%;
  padding: 10px;

  transition: grid-template-columns 1s ease, color 1s ease, background-color 1s ease;

  .description {
    font-size: 1vh;
    opacity: 0;

    width: 0;

    display: flex;
    align-self: center;

    transition: opacity 0s ease, font-size 1s ease .5s, width 2s ease 8s;
  }

  .wrapper {
    display: flex;

    .id, .name {
      line-height: 4vh;
      font-weight: bold;

      max-width: fit-content;

      flex: 1;

      transition: justify-content 1s ease .5s;
    }

    .id {
      font-size: 5vh;

      transition: color 1s ease;
    }

    .dummy {
      flex: 0;

      transition: flex 1s ease;
    }

    .name {
      white-space: nowrap;
      font-size: 1.8vh;
    }
  }

  &:hover {
    grid-template-columns: 4fr 1fr;

    cursor: pointer;

    background-color: #000;
    color: #fff;

    .description {
      opacity: 1;
      width: auto;

      transition: opacity 1s ease .4s, font-size 1s ease .5s, width 2s ease 8s;
    }

    .wrapper {
      .id {
        padding-left: 5px;
        color: #0f0;
      }
      .name {
        padding-left: 5px;
      }
      .dummy {
        flex: auto;
      }
    }
  }
}
