.container {
  display: flex;
  align-items: center;
  padding: 10px;

  .title {
    display: flex;
    flex-direction: column;

    line-height: 4vh;
    font-weight: bold;
    font-size: 2vh;

    .id {
      font-size: 6vh;
    }

    .name {
      white-space: nowrap;
    }
  }

  .description {
    font-size: 0;
    opacity: 0;
    -webkit-transition: opacity 1s, font-size 1s;
    transition: font-size 1s cubic-bezier(.53,0,.52,1) .5s, opacity .3s cubic-bezier(.53,0,.52,1) 1.3s;
  }

  &:hover {
    gap: 15px;
    background-color: #000;
    cursor: pointer;
    color: white;

    .title {
      .id {
        color: #77FD02;
      }
    }

    .description {
      opacity: 1;
      font-size: 1.2vh;
    }
  }
}
