.container {
  display: flex;
  align-items: center;
  padding: 10px;

  transform: background-color 1s ease;
  -webkit-transition: background-color 1s ease;

  .title {
    display: flex;
    flex-direction: column;

    transition: flex-basis 3s ease; 

    line-height: 4vh;
    font-weight: bold;
    font-size: 2vh;

    .id {
      font-size: 6vh;
    }

    .name {
      white-space: nowrap;
    }
  }

  .description {
    font-size: 0;
    opacity: 0;
    -webkit-transition: opacity .1s ease, font-size .5s ease, background-color 1s ease;
    // transition: font-size .5s ease, opacity .1s cubic-bezier(.53,0,.52,1);
  }

  &:hover {
    gap: 15px;
    background-color: #000;
    cursor: pointer;
    color: white;

    .title {
      align-items: flex-end;

      .id {
        color: #77FD02;
      }
    }

    .description {
      opacity: 1;
      font-size: 1.2vh;

      // transition: font-size 2s cubic-bezier(.53,0,.52,1) 5s, opacity .3s cubic-bezier(.53,0,.52,1) 1.1s;
      -webkit-transition: opacity 1s ease 1.6s, font-size 1.4s ease .5s, background-color 1s ease;
    }
  }
}
