.container {
  display: flex;
  align-items: center;
  padding: 10px;

  width: 60%;

  transition: background-color 1.4s ease, width 1s cubic-bezier(1,0,.5,1);

  .title {
    display: flex;
    flex-direction: column;

    transition: flex-basis 3s ease; 

    line-height: 4vh;
    font-weight: bold;
    font-size: 2vh;

    .id {
      font-size: 6vh;
    }

    .name {
      white-space: nowrap;
    }
  }

  .description {
    font-size: 0;
    opacity: 0;
    transition: opacity .1s ease, font-size .5s ease .5s, background-color 1s ease;
  }

  &:hover {
    gap: 15px;
    background-color: #000;
    cursor: pointer;
    color: white;
    width: 100%;
    transition: width 1.4s cubic-bezier(1,-0.1,.42,1.01) .2s;

    .title {
      align-items: flex-end;

      .id {
        color: #77FD02;
      }
    }

    .description {
      opacity: 1;
      font-size: 1.2vh;

      transition: opacity 1s ease 1.6s, font-size 1.4s cubic-bezier(1,0,0,1.28) .5s, background-color 1s ease;
    }
  }
}
