.container {
  display: flex;
  align-items: center;
  padding: 15px;

  .title {
    display: flex;
    flex-direction: column;

    line-height: 1.75rem;
    font-weight: bold;
    font-size: 1rem;

    .id {
      font-size: 2.2rem;
    }
  }

  .description {
    font-size: 0;
    opacity: 0;
    transition: all 1s ease;
  }

  &:hover {
    gap: 15px;
    background-color: #000;
    cursor: pointer;
    color: white;

    .title {
      .id {
        color: #77FD02;
      }
    }

    .description {
      opacity: 1;
      font-size: .8rem;
    }
  }
}
