.container {
  position: absolute;

  min-width: 51%;
  height: 100%;
  transition: width 1s ease, transform 1s ease-in-out;

  perspective: 3000px;

  display: flex;
  align-items: center;

  .content {
    position: relative;
    background-image: url("/blackBookCover.webp");
    background-size: cover;

    -webkit-box-shadow: 0 0 24px 4px rgba(43, 41, 55, 1);
    -moz-box-shadow: 0 0 24px 4px rgba(43, 41, 55, 1);
    box-shadow: 0 0 24px 4px rgba(43, 41, 55, 1);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 1s ease-in-out;
    transform-origin: left;

    cursor: pointer;
    user-select: none;
  }

  .flipped {
    transform: rotateY(-180deg);
  }
}