.container {

  position: absolute;

  width: 50%;
  height: 100%;

  perspective: 3000px;

  .content {
    background-image: url("/bookCover.webp");

    -webkit-box-shadow: -16px 12px 30px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: -16px 12px 30px 0px rgba(66, 68, 90, 1);
    box-shadow: -16px 12px 30px 0px rgba(66, 68, 90, 1);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 11%;

    transition: transform 1s ease;
    transform-origin: left;

    cursor: pointer;
    user-select: none;

    .logo {
      width: 80%;
    }
  }

  .flipped {
    transform: rotateY(-180deg);
  }
}