.curl {
  position: absolute;
  bottom: 2%;
  right: 0;
  transition: all .5s ease;
  //-webkit-box-shadow: -12px -12px 40px -10px rgba(0, 0, 0, 1);
  //-moz-box-shadow: -12px -12px 40px -10px rgba(0, 0, 0, 1);

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12.5%;
    bottom: 5.8%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    transform: skew(-10deg) rotate(-6deg);
  }

  &:after {
    left: auto;
    right: 5.8%;
    bottom: auto;
    top: 14.16%;
    transform: skew(-15deg) rotate(-84deg);
  }

  &:hover {
    width: 60px;
    height: 60px;
  }

  &:hover:before, &:hover:after {
    box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
  }
}

.curlHover {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 2%;
  height: 50%;
  width: 20%;
  min-width: 40px;
}