.content {
  display: flex;

  .leftPage, .rightPage {
    transition: transform 1s;
    width: 50%;
  }

  .leftPage {
    //background-image: url("/left_page_not_adjusted.webp");
    transform-origin: right;
    border: 2px solid red;
  }
  .flippedLeft {
    transform: rotateY(-180deg);
  }

  .rightPage {
    //background-image: url("/right_page.webp");
    transform-origin: left;
    border: 2px solid green;
  }
  .flippedRight {
    transform: rotateY(180deg);
  }
}
