.container {
  display: flex;
  height: 100%;
  width: 100%;
  perspective: 3000px;

  .leftPage, .rightPage {
    transition: transform 1s;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(224, 224, 224, .9);
  }

  .leftPage {
    //background-image: url("/left_page_not_adjusted.webp");
    transform-origin: right;
    //border: 2px solid red;

    .quote {
      display: flex;
      align-items: center;
      font-size: 3em;
      height: 100%;
    }

    .contentLeft {
      padding: 30px;
      height: 100%;
    }
  }
  .flippedLeft {
    transform: rotateY(-180deg);
  }

  .rightPage {
    //background-image: url("/right_page.webp");
    transform-origin: left;
    //border: 2px solid green;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 50px;

    .contentRight {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 90%;
      width: 80%;

      .video {
        height: 30%;
        width: 90%;
        background-color: #0f2f19;
        color: white;
      }
    }
  }
  .flippedRight {
    transform: rotateY(180deg);
  }
}
