.container {
  height: 100%;
  position: relative;

  .heading {
    height: 22%;
    color: #0f0;
    font-size: calc(14 * var(--vh));
    line-height: calc(10 * var(--vh));
    word-break: break-all;
    font-weight: bold;
  }
}