.container {
  height: 100%;

  .heading {
    height: 22%;
    color: #0f0;
    font-size: 14vh;
    line-height: 10vh;
    word-break: break-all;
    font-weight: bold;
  }

  .questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 78%;
    font-size: 1.6vh;
    padding: 12% 0;

    .question {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .icon {
        font-size: 2.5vh;
        transition: transform .2s ease;
      }

      &:hover {
        color: #0f0;
        cursor: pointer;
      }
    }
  }
}