.container {
  height: 100%;

  .heading {
    height: 22%;
    color: rgba(0,255,0,0.8);
    font-size: calc(14 * var(--vh));
    line-height: calc(10 * var(--vh));
    word-break: break-all;
    font-weight: bold;
  }

  .questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 78%;
    font-size: calc(1.6 * var(--vh));
    padding: 12% 0;

    .question {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .icon {
        font-size: calc(2.5 * var(--vh));
        transition: transform .2s ease;
      }

      &:hover {
        color: #0f0;
        cursor: pointer;
      }
    }
  }
}