.container {
  height: 100%;

  .heading {
    color: #0f0;
    font-size: calc(12 * var(--vh));
    line-height: calc(11 * var(--vh));
    word-break: break-all;
    font-weight: bold;
    height: 34%;
    opacity: 90%;
  }

  .form {
    height: 66%;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 6px;

    padding: 4% 4% 4% 0;

    .label {
      font-size: calc(1.8 * var(--vh));
    }

    .input {
      color: #232323;
      font-size: calc(1.8 * var(--vh));
      padding: 4px;
    }

    .button {
      color: #0f0;
      font-size: calc(2.2 * var(--vh));
    }
  }
}