.container {
  height: 100%;

  .heading {
    color: #0f0;
    font-size: 10vh;
    line-height: 10vh;
    word-break: break-all;
    font-weight: bold;
    height: 34%;
  }

  .form {
    height: 66%;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 6px;

    padding: 4% 4% 4% 0;

    .label {
      font-size: 2vh;
    }

    .input {
      color: #232323;
      font-size: 1.8vh;
      padding: 4px;
    }

    .button {
      color: #0f0;
      font-size: 2.2vh;
    }
  }
}