.container {
  height: 100%;
  position: relative;

  .heading {
    color: #0f0;
    font-size: calc(10 * var(--vh));
    line-height: calc(9 * var(--vh));
    word-break: break-all;
    font-weight: bold;
    height: 24%;
    position: relative;
    top: calc(-2.25 * var(--vh));
  }
}

.form {
  height: 76%;

  color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;

  padding: 4%;

  .label {
    font-size: calc(1.8 * var(--vh));
    font-weight: 500;
  }

  .input {
    font-size: calc(1.8 * var(--vh));
    padding: 4px;
    background-color: #e9e8e8;
    border-radius: 4px;
  }

  .button {
    color: #fff;
    background-color: #000;
    max-width: 50%;
    padding: 10px 20px;
    font-size: calc(2.2 * var(--vh));
    border-radius: 4px;
  }

  .success {
    color: #0f0;
    font-weight: bold;
    align-self: center;
  }
}