.container {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;

  overflow: hidden;

  .imgWrapper {
    width: 65%;
    max-height: 7.5%;

    display: flex;
    justify-content: flex-end;

    .img {
      height: 90%;
    }
  }

  .loader {
    font-size: 8vh;
    animation: spin 1s infinite linear;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}