$breakoutPoint: 500px;

.container {
  background-color: #565656;
  background-size: 100vw 100vh;
  background-position: center;
  color: #dddddd;
  padding: 10px 30px;
  position: relative;

  margin-bottom: 20px;
  .page {

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .img {
        max-width: 305px;
        width: 50%;
      }
    }

    .videoAndQuote {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: $breakoutPoint) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
          width: 48%;
        }

        .video {
          width: 48%;
        }
      }

      .quote {
        padding: 5px;
      }

      h3 {
        font-size: 6vw;
        text-align: center;
      }

      .video {
        video {
          max-height: 400px;
        }
      }
    }

    .description {
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 5px;
      font-size: 4vw;
      margin-top: 10px;
    }
  }

  .btn {
    position: fixed;
    bottom: 0;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    background-color: rgba(221, 221, 221, 0.29);
  }

  .leftBtn {
    left: 0;
  }

  .rightBtn {
    right: 0;
  }

  h1 {
    font-size: 8vw;
    font-weight: bold;
  }
}