.container {
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  .videoRect {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100%;
    height: 52%;

    background-image: url("/videoPlaceholderImage.webp");
    background-size: cover;

    cursor: pointer;

    display: flex;
    align-items: center;

    border-right: 1px solid hwb(235 26% 65% / 0.5);
    -webkit-box-shadow: inset -42px 0px 42px -47px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset -42px 0px 42px -47px rgba(66, 68, 90, 1);
    box-shadow: inset -42px 0px 42px -47px rgba(66, 68, 90, 1);

    .videoRectClickable {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 135%;
      height: 100%;
    }

    .playButton {
      margin-left: 60%;

      font-size: calc(8 * var(--vh));
      color: rgba(0, 255, 0, 0.6);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 23%;

    font-size: calc(1 * var(--vh));
    padding-bottom: 4%;

    .heading {
      font-size: calc(1.5 * var(--vh));
    }

    .topics {
      color: #0f0;
    }
  }
}